@page "/render"

<h1>Render Page</h1>

<h2>レンダリング</h2>

<label><input type="checkbox" data-toggle="toggle" @bind="checkedValue">サンプルトグル</label>

<h3>条件文</h3>

<!--@@if で記述-->
@if (checkedValue == true)
{
    <p>Toggle ON</p>
}
else
{
    <p>Toggle OFF</p>
}

<h3>繰り返し処理</h3>
<!--@@foreachで記述-->
<ul>
    @foreach (var item in items)
    {
        <li>@item</li>
    }
</ul>

@code {
    // トグル
    private bool checkedValue;

    // 繰り返し処理用サンプルデータ
    private List<string> items = new List<string>()
    {
        "item1",
        "item2",
        "item3",
        "item4",
    };
}

